h1{ font-size: 50px;
     color: black;
     text-align: center;
     letter-spacing: 4px;
     background-color: turquoise;
     font-family: 'Pacifico', cursive;
     padding: 20px;
     margin-top: 0%;
     margin-bottom: 0%;
}
h2{color: rgb(54, 45, 45);
     font-style: oblique;
     text-align: center;
     text-emphasis: black;
     background-color: turquoise;
     margin-top: 0%;
     margin-bottom: 0%;
     padding-bottom: 15px;

}
ul{list-style: none;
     background-color: greenyellow;
     display: flex;
     justify-content:space-around;
     color: black;
     font-size: 15px;
     padding: 15px;
     margin-top: 0%;
     margin-bottom: 0%;
}
a{color: black;

}
li{
     color: black;
}


main{background-color: brown;
     color: aliceblue;
     display: flex;
     justify-content:space-around;

}

section{
     display:list-item;
     justify-content:left;
     align-items: stretch;
     margin-bottom: 0%;
     
}
h3{
     background-color: turquoise; 
     color: black;
     size: 42px;
     font-style: oblique;
     letter-spacing: 3px;
     text-align: center;
}
h4,h5,h6{
     font-size: medium;
     color: darkolivegreen;
     background-color: beige;
     padding:10px ;
     border-color: black;
     border-style: solid;
}
footer{
     border-color: greenyellow;
     border-style:double;
     border-width: 2px;
     background-color: greenyellow;
     padding-left: 10px;
     text-align: justify; 
     font-size: 20px;
     padding: 15px;
     margin-bottom: 0%;
}
ul1 {
     list-style:square;
     padding-top: 25px;
}
p1,p2,p3{
     color: black;
     font-weight: bold;
     
}
ul3 {
     list-style: none;
     display:grid;
     align-items: center;
}

.grid-container{
     display: grid;
     grid-template-columns: 2fr 2fr 2fr;
     grid-template-rows: 2fr 2fr 2fr;
}
.grid-container div{

     color: antiquewhite;
     border: 1px solid black;
}
.inicio{
     display: grid;
     grid-template-columns: 4fr 2fr;
     grid-template-rows: auto auto ;
     font-size: 25px;
     padding: 20px;
}
